{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "React2.h", // default pragma is React.createElement
      "pragmaFrag": "React2.hf", // default is React.Fragment
    }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}